[user]
	name = Sam Neubardt
	email = samneubardt@gmail.com
	signingkey = 1027D43B
[merge]
	tool = vimdiff
[mergetool]
  prompt = true
#[mergetool "vimdiff"]
  # cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
	tool = vimdiff
        renames = copies
        mnemonicprefix = true
	compactionHeuristic = true

[alias]
        co = checkout
        s = status -sb
        ss = status
        a = add
        #  --staged
        d = difftool
        c = commit
        ca = commit -a
        pr = pull --rebase
        pom = push origin master
        br = branch
        l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
        filelog = log -u
        fl = log -u
        dl = "!git ll -1"
        dlc = diff --cached HEAD^
        # these take a revision
        dr  = "!f() { git diff "$1"^.."$1"; }; f"
        lc  = "!f() { git ll "$1"^.."$1"; }; f"
        diffr  = "!f() { git diff "$1"^.."$1"; }; f"
        # http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
        f = "!git ls-files | grep -i"
        # list aliases
        la = "!git config -l | grep alias | cut -c 7-"
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
        ignorecase = false

[push]
        default = nothing

[url "git@github.com:"]
        insteadOf = https://github.com/
[commit]
	gpgsign = false
[remote "origin"]
	prune = true
[fetch]
	prune = true
