[user]
	name = Sam Neubardt
	email = samneubardt@gmail.com
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
        renames = copies
        mnemonicprefix = true

[alias]
        co = checkout
        s = status
        a = add
        d = difftool
        c = commit 
        ca = commit -a
        pr = pull --rebase
        pom = push origin master
        l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	work = config user.email \"sneubardt@brightcove.com\"
[color]
	ui = auto
[core]
	excludesfile = /home/sneubardt/.gitignore_global
