# Search for partial matches in bash history
# so $ <C-p> goes to the previous command but
#  $ s<C-p> searches through history entries that start with s
"\C-p":history-search-backward
"\C-n":history-search-forward

# add a trailing '/' when tab completing a symlink
set mark-symlinked-directories on
